alembic==1.4.2
blinker==1.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
decorator==4.0.11
ffmpeg==1.4
ffmpeg-python==0.2.0
filetype==1.0.5
Flask==1.1.2
Flask-Dance==3.0.0
Flask-DebugToolbar==0.11.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-OAuth==0.12
Flask-OAuthlib==0.9.5
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
future==0.18.2
httplib2==0.18.1
idna==2.9
imageio==2.1.2
instagram-private-api==1.6.0.0
instagram-private-api-extensions==0.3.8
instapy-cli==0.0.12
itsdangerous==1.1.0
Jinja2==2.11.2
lameenc==1.2.2
lazy==1.4
Mako==1.1.2
MarkupSafe==1.1.1
moviepy==0.2.3.2
mplayer.py==0.7.2.post1
numpy==1.18.5
oauth2==1.9.0.post1
oauthlib==3.1.0
Pillow==7.1.2
python-dateutil==2.8.1
python-editor==1.0.4
pytube3==9.6.4
requests==2.23.0
requests-oauthlib==1.3.0
six==1.15.0
SQLAlchemy==1.3.17
SQLAlchemy-Utils==0.36.6
tqdm==4.11.2
typing-extensions==3.7.4.2
urllib3==1.25.9
URLObject==2.4.3
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.1
