<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href ="{{url_for('static', filename = 'css/layout.css') }}">
    {%block head%}
    {%endblock%}
  </head>
  <body>
    <nav class="navbar navbar-nav" role="navigation">
        <center>
            <a href="/" class="navbar-brand"><img class = "logo"src="{{url_for('static', filename = 'assets/logo.png') }}" alt = "yt2mp3!" ></a>
        </center>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    {%block body%}

    {%endblock%}
    <footer>
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 left">
                <p>This service is done as the final project for CS50x. Thanks for viewing! :)</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6 right">
                <p>If you encounter any issues (which you will), I am not sorry. It was done just as a fun project LMAO.</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>