{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/mp3.css') }}">
<title>{{title}} - MP3 Download</title>
{% endblock %}

{% block body %}
<main class = "container main">
    <h1>
        Free MP3 Download from YouTube Video
    </h1>
    <div>
        <p style = "float: left;"><img src="{{thumbnail_url}}" alt="{{title}}"></p>
        <p>{{title}}</p>
        <p>Length: {{length}}</p>
    </div>
    <button><a href="/download">Download MP3 :)</a></button>
</main>
{% endblock %}